body{
    

  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main{
    flex:1;
    min-height: 75vh;
}

.listings{

}


.navbar{
    height : 5rem;
    background-color: white !important;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;
    width: 100% !important;
    margin-top: auto;
    
}



.f-info-social,.f-info-links, .f-info-brand{
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;
}


/* new page */

.card{
    margin-bottom: 2rem;
    border: none !important;
    background-color: white;
}

.review-card{
    border: 0.05rem solid black!important;
}

.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
    height: 40% !important;
}



.card-body{
    padding: 0 !important;
} 

.card-text p{
    font-weight: 400;
    
}

.listing-link{
    text-decoration: none;
    color: #222222;
}

.card-img-overlay{
    background-color: white !important;
    opacity: 0 !important;
    z-index: 1;
}

.card-img-overlay:hover{
    opacity: 0.2 !important;
    z-index: 2;
}

.listing-link:hover{
    text-decoration: none;
    color: #222222;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important ;
    text-align: center !important;
}

/* show page */

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.btn2 {
    height: 2.5rem !important;
    width: 5rem !important;
}

.btn3 {
    height: 2.5rem !important;
    width: 6rem !important;
   background-color: #fe424d !important;
   border: none !important;
}

.image1 img{
    height:250px;
    width:400px;
    object-fit:cover;
}


#map{
    width:80vh;
    height:400px;
}

.tab-containar{
    margin-left: 50px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    align-items: center;
}



        /* #filters{
            display:flex ;
            flex-wrap: wrap ;
            text-align: center ;
            align-items: center;
            
        }
        .filter {
            margin-left: 2rem;
            margin-top: 2rem;
            opacity: 0.8;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;

        } */

        .tax-info{
            display: none ;
        }

        .tax-toggle{
            border: 1px solid black;
            border-radius: 1rem;
            height: 3rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            padding-right: none !important;
            width:300px;
            margin-left:  4rem;
        }

        .form-switch label{
            margin: none !important;
        }

        .form-check-input{
            margin-left: 0.1rem !important;
        }


        .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    

    .filter {
  text-align: center;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid #ccc;
}


@media (min-width: 576px) {
  .filter{
    width: 12.5%; 
  }
}


@media (max-width: 575.98px) {
  .filter {
    width: 33.33%; 
  }
}


    
    






