
<% layout("layouts/boilerplate") %>

<body>
    <h3>All Listings</h3>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let listing of alllistings) { %>
            <% if (listing && listing._id) { %>
                <div class="col mb-4">
                    <a href="/listings/<%= listing._id %>" class="listing-link" style="text-decoration: none;">
                        <div class="card">
                            <img src="<%= listing.image.url || "/images/defaultimg.avif" %>"
                                 class="card-img-top"
                                 alt="listing_image"
                                 style="height: 20rem;" />
                            <div class="card-body">
                                <p class="card-text">
                                    <b><%= listing.title %></b><br>
                                    ₹ <%= listing.price?.toLocaleString("en-IN") || "0" %> / night
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } %>
    </div>
</body>
