
<% layout("layouts/boilerplate") %>

<body>

    
   <div id="filters ">
    <div class="filter col-12 col-sm-4 d-flex">
        <div><i class="fa-solid fa-fire"></i></div>
        <p> Trending</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-flex">
        <div><i class="fa-solid fa-bed"></i></div>
        <p> Rooms</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-flex">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p> Iconic Cities</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-none d-sm-flex">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p> Mountains </p> 
    </div>

    <div class="filter col-12 col-sm-4 d-none d-sm-flex">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p> castles</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-none d-sm-flex">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p> Aratic</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-none d-sm-flex">
        <div><i class="fa-solid fa-bed"></i></div>
        <p> Trending</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-none d-sm-flex">
        <div><i class="fa-solid fa-cow"></i></div>
        <p> Farms</p> 
    </div>

    <div class="filter col-12 col-sm-4 d-none d-sm-flex">
        <div><i class="fa-solid fa-campground"></i></div>
        <p> Camping</p> 
    </div>
   

    <div class="tax-toggle">
    <div class="form-check-reverse form-switch ">
 
  <label class=" form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
   <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
   </div>
   </div>
   </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 row-cols-sm-1 mt-3">
        <% for (let listing of alllistings) { %>
            <% if (listing && listing._id) { %>
                <div class="col mb-4">
                    <a href="/listings/<%= listing._id %>" class="listing-link" style="text-decoration: none;">
                        <div class="card">
                            <img src="<%= listing.image.url %>"
                                 class="card-img-top"
                                 alt="listing_image"
                                 style="height: 20rem;" />
                            <div class="card-body">
                                <p class="card-text">
                                    <b><%= listing.title %></b><br>
                                    ₹ <%= listing.price?.toLocaleString("en-IN") || "0" %> / night
                                    <i class="tax-info"> &nbsp; &nbsp; +18 GST</i>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } %>
    </div>
</body>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            }else{
                info.style.display = "none";
            }
        }   
    })
</script>
