

<% layout("layouts/boilerplate") %>


<div class="container">
<div class="row w-full">
    <div class="col-8 offset-2">
        <br>

     <h3>Create a New listing</h3>
    <form method="POST"  action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
        <div>
        <label for="title" class="form-class">Title</label>
        <input
         name="listing[title]"
         placeholder="Enter title"
         type="text" 
         class="form-control"
         required>

         <div class="valid-feedback">Title looks good!</div>
        </div>
        <br> 

        <div>
         <label for="description" class="form-class">Description</label>
         <textarea name="listing[description]"
         placeholder="Enter description"
         type="text"
         class="form-control"
         required
        ></textarea>
        <div class="invalid-feedback">Please enter Description</div>
        </div>

        <br>
        
        <div>
        <label for="image" class="form-class">Upload Listing Image</label>
        <input name="listing[image]" type="file" class="form-control" required>


        </div>

        <br>
        <div class="row">
        <div class="col-md-4">
        <label for="price" class="form-class">Price</label>
        <input name="listing[price]" 
        placeholder="Enter price " 
        type="number"
        class="form-control"
        required>
        <div class="invalid-feedback">Please enter valid price</div>
        </div>

        <br>
        <div class="col-md-8">
        <label for="location" class="form-class">Location</label>
        <input name="listing[location]"
         placeholder="Enter location"
         type="text"
         class="form-control"
         required>
        <div class="invalid-feedback">Please enter valid location</div>
         </div>
         </div>
        <br>
        
        <div>
        <label for="country" class="form-class">Country</label>
        <input name="listing[country]"
         placeholder="Enter country"
          type="text"
          class="form-control"
          required>
        <div class="invalid-feedback">Please enter valid country</div>
          </div>
        <br>
        <button class="btn btn-dark add-btn" >Add</button>

    </form>

    </div>

</div>   
</div> 

